<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opss.movibus">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                +
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ConfiguracoesActivity"
            android:label="@string/configurações" />
        <activity
            android:name=".ui.activity.PesquisarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.FavoritosActivity"
            android:label="@string/meus_favoritos" />
        <activity
            android:name=".ui.activity.LinhasFavoritasActivity"
            android:label="@string/linhas_favoritas" />
        <activity
            android:name=".ui.activity.PontosFavoritosActivity"
            android:label="@string/pontos_favoritos" />
        <activity
            android:name=".ui.activity.PreferencesActivity"
            android:label="@string/configurações" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name=".util.SugestoesPesquisasProvider"
            android:authorities="com.opss.movibus.util.SugestoesPesquisasProvider" />

        <activity
            android:name=".ui.activity.ConfiguracoesContaActivity"
            android:label="@string/configurações_conta" />

        <activity
            android:name=".ui.activity.CadastroActivity"
            android:label="@string/cadastrar_conta"></activity>
    </application>

</manifest>